APP_ID=DISCORD APPLICATION ID HERE (DISCORD DEVELOPER PORTAL -> GENERAL INFORMATION)
DISCORD_TOKEN=DISCORD TOKEN HERE (DISCORD DEVELOPER PORTAL -> BOT)
PUBLIC_KEY=DISCORD PUBLIC KEY HERE (DISCORD DEVELOPER PORTAL -> GENERAL INFORMATION)

GUILD_ID=DISCORD ID HERE (DISCORD APP -> CLICK INTO DESIRED SERVER -> SETTINGS THEN COPY SERVER ID)